body {
    font-family: 'Museo Sans', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.gallery {
    column-count: 1; /* Default for mobile sizes */
    column-gap: 15px; /* Spacing between columns */
    padding: 15px; /* Padding around the gallery */
    max-width: 100%; /* Maximum width */
}

.gallery-item {
    break-inside: avoid; /* Prevents breaking within an item */
    margin-bottom: 15px; /* Spacing below each item */
    display: inline-block; /* Ensures proper spacing and layout */
    width: 100%; /* Full width of the column */
}

.gallery-item img {
    width: 100%;
    border-radius: 15px;
    display: block; /* Ensures no extra space below images */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Modal Image Gallery */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Layout Adjustments */
/* Medium screens (e.g., tablets) - 3 columns */
@media screen and (min-width: 741px) and (max-width: 900px) {
    .gallery {
        column-count: 3;
    }
}

/* Larger screens - 4 columns */
@media screen and (min-width: 901px) {
    .gallery {
        column-count: 4;
    }
}

/* Very Large screens - 5 columns */
@media screen and (min-width: 1400px) {
    .gallery {
        column-count: 5;
    }
}

/* Footer Styles */
footer {
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
    color: white;
    text-align: center;
    line-height: 7vh; /* 7% of the viewport height */
    height: 7vh;
}