body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: 100px; /* Adjust based on your preference */
    grid-gap: 0;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

/* Custom grid area assignments for each image */
#img01 { grid-area: 1 / 1 / 3 / 5; }
#img02 { grid-area: 1 / 5 / 3 / 9; }
#img03 { grid-area: 1 / 9 / 3 / 13; }
#img04 { grid-area: 1 / 13 / 3 / 17; }
#img05 { grid-area: 3 / 1 / 5 / 5; }
#img06 { grid-area: 3 / 5 / 5 / 9; }
#img07 { grid-area: 3 / 9 / 5 / 13; }
#img08 { grid-area: 3 / 13 / 5 / 17; }
#img09 { grid-area: 5 / 1 / 7 / 5; }
#img10 { grid-area: 5 / 5 / 7 / 9; }
#img11 { grid-area: 5 / 9 / 7 / 13; }
#img12 { grid-area: 5 / 13 / 7 / 17; }
#img13 { grid-area: 7 / 1 / 9 / 5; }
#img14 { grid-area: 7 / 5 / 9 / 9; }
#img15 { grid-area: 7 / 9 / 9 / 13; }
#img16 { grid-area: 7 / 13 / 9 / 17; }
#img17 { grid-area: 9 / 1 / 11 / 5; }
#img18 { grid-area: 9 / 5 / 11 / 9; }
#img19 { grid-area: 9 / 9 / 11 / 13; }
#img20 { grid-area: 9 / 13 / 11 / 17; }
#img21 { grid-area: 11 / 1 / 13 / 5; }
#img22 { grid-area: 11 / 5 / 13 / 9; }

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
    padding: 10px;
}

/* 3D Spin Hover Effect */
.gallery-item {
    perspective: 1000px;
}

.gallery-item img, .gallery-item .description {
    transition: transform 0.3s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.gallery-item:hover img {
    transform: rotateY(-180deg);
}

.gallery-item:hover .description {
    transform: rotateY(0deg);
}