body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.gallery {
    margin: 0 auto; /* Center the gallery */
  }
  
  .gallery-item {
    margin-bottom: 10px; /* Space at the bottom of each item */
  }
  
  .gallery-item img {
    width: 100%; /* Ensure the image fills the item */
    display: block; /* Remove extra space beneath the image */
  }

.gallery-item .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    transform-origin: center;
    opacity: 0; /* Initially hidden */
    color: black;
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
    padding: 20px;
    margin: 20px;
    background-color: transparent; /* Initially transparent */
}

.gallery-item:hover {
    background-color: white; /* Change background to white on hover */
}

.gallery-item:hover img {
    transform: rotateY(-180deg);
}

.gallery-item:hover .description {
    opacity: 1; /* Show description after spin */
    transform: translate(-50%, -50%) rotateY(0deg);
}